$unit: 8px !default;

$breakpoints: (
  xs: ($unit * 1) * 13 + ($unit * 1 * 2) * 12, //  8px gutter, 16px column, full gutter outside ->  296px
  sm: ($unit * 2) * 13 + ($unit * 2 * 2) * 12, // 16px gutter, 32px column, full gutter outside ->  592px
  md: ($unit * 3) * 13 + ($unit * 3 * 2) * 12, // 24px gutter, 48px column, full gutter outside ->  888px
  lg: ($unit * 4) * 13 + ($unit * 4 * 2) * 12, // 32px gutter, 64px column, full gutter outside -> 1184px
  xl: ($unit * 5) * 13 + ($unit * 5 * 2) * 12, // 40px gutter, 80px column, full gutter outside -> 1480px
) !default;

$grid-columns: 12 !default;

$grid-gutters: (
  xs: $unit * 1, // ->  8px
  sm: $unit * 2, // -> 16px
  md: $unit * 3, // -> 24px
  lg: $unit * 4, // -> 32px
  xl: $unit * 5, // -> 40px
) !default;

$grid-breakpoints: $breakpoints !default;

@import 'grid-main';
@import 'grid-wrap';
@import 'grid-item';
